<h1>Circles</h1>
<% if @circle.is_admin? current_user %>
  <%= link_to "Awaiting Approval #{@circle.pending_members}", pending_circle_members_path(@circle) if @circle.pending_members.count > 0 %>
<% end %>
<%= @members.each do |member| %>
  <%= member.username %><br>
<% end %>
<p>Find me in app/views/circle_member/index.html.erb</p>
