<h1>Pending Members for <%= link_to @circle.name, @circle %></h1>
<% @pending_members.each do |user| %>
  <div class="circle-member-pending">
    <%= button_to "Approve", approve_circle_member_path(@circle, user), class: "btn btn-primary" %>
    <span class="user-name"><%= "#{user.username}" %></span>
</div>
<% end %>
<%= link_to "Back", @circle %>
