<h1><%= workout_index_title @user %></h1>
<% if @workouts.count == 0 %>
	<div class="alert alert-info">
		<p><strong>Best get to liftin'!</strong> You haven't logged any workouts yet!</p>
	</div>
<% end %>
<div id="workouts">
		  <table class="table table-striped">
  <% @workouts.each do |workout| %>
			 <tr>
						<td>
								  <%= link_to workout.title, user_workout_path(workout.user, workout) %>
						</td>
						<td>
								  <small class="text-muted"><%= "(#{days_ago workout.date_performed})" %></small>
						</td>
			 </tr>
  <% end %>
</table>
</div>

<%= link_to_add "new workout", new_workout_path %>
