<div id="totals_pie_chart">
  <div id="daily_totals_chart"></div>
  <span><span class="block protein-color"></span>&nbsp;Protein</span>
  <span><span class="block carbs-color"></span>&nbsp;Carbs</span>
  <span><span class="block fat-color"></span>&nbsp;Fat</span>
</div>
