$grey: #ccc;
$dark-grey: #888;
$secondary: #404041;
$color-one: #f6921e; 
$color-two: #404041;
$color-three: #929497;

// Borders
$border: $grey;

// Links
$link: #444444;
$link-visited: #444444;
$link-hover: lighten($link, 30%);

// Errors
$error-text: #b94a48;
$error-explanation-border: #eed3d7;
$error-explanation-background: #f2dede;
$error-explanation-text: #b94a48;
