<div id="logged_foods">
<% if logged_foods.count == 0 %>
  <b>No foods logged yet for today!</b>
<% else %>
  <% logged_foods.each do |logged| %>
  <div class="logged-food-entry">
    <%= logged.servings %> Servings of: <%= logged.food_name %> (<%= link_to "Edit", edit_log_food_path(logged) %>) 
    <%= link_to "Delete", logged, data: { confirm: "Are you sure you want to delete #{logged.servings} servings of #{logged.food_name}?", method: "DELETE" } %>
  </div>
<% end %>
  <% end %>
</div>
