<div id="nutrition_goals">
	<h3>Daily Goals</h3>
	<div class="calorie-goal">Calories <span>0 / 2000</span></div>
	<div class="protein-goal">Protein <span>0 / 50</span></div>
	<div class="carbs-goal">Carbs <span>0 / 300</span></div>
	<div class="fat-goal">Fat <span>0 / 65</span></div>
	<%= link_to "Manage Goals", edit_nutrition_goal_path %>
</div>
