<h1>Nutrition Dashboard</h1>
<div id="nutrition_breakdown_totals">
  totals
</div>

<div class="nutrition_right_col">
  <%= render 'selected_date', selected_date: @current_date %>
  <%= render 'foods/search' %>
</div>
<%= render 'logged_foods', logged_foods: @logged_foods %>
