<h1>Nutrition Dashboard</h1>
<% if @logged_foods.count == 0 %>
 <b>No foods logged yet for today!</b>
<% else %>
<% @logged_foods.each do |logged| %>
  <%= logged.servings %> Servings of: <%= logged.food_name %>
<% end %>
  <% end %>
