<div id="bmi">
		  <strong>BMI:&nbsp;</strong>
	<% if @current_user.bmi.present? %>
		<%= @current_user.bmi %>
	<% else %>
			  <span class="hint-text">not enough information</span><br/>
			  <%= link_to "Set your age", edit_athlete_path(@current_user) unless @current_user.birth_date.present? %><br/>
			  <%= link_to "Set your height", edit_athlete_path(@current_user) unless @current_user.height.present? %><br/>
			  <%= link_to "Record your weight", body_weights_path if @weight_entry_count == 0 %>
	<% end %>
</div>
