<div class="hero-unit">
  <% unless user_signed_in? %>
    <h1>Well, hello there!</h1>
    <p>
      <%= link_to 'Login', new_user_session_path %> or try it out by 
        <%= link_to "Signing up", new_user_registration_path %><br />
      </p>
  <% else %>
    <h2>Welcome back, holmes.</h2>
  <% end %>
</div>

<% if user_signed_in? %>
  <h2>My Circles</h2>
<% memberships = Circle.memberships_for_user(current_user) %>
<%= "Not a member of any circles!" if memberships.empty? %>
<% memberships.each do |circle| %>
  <%= link_to circle.name, circle %><br>
  <% end %>
<% end %>
