<% unless user_signed_in? %>
	<center>
  		<div class="hero-unit">
			<%= image_tag "https://s3.amazonaws.com/eatsleeplift/images/site/tour/tour_logo.png" %>
			<p>
				<%= link_to 'Login', new_user_session_path, class: "btn btn-primary" %> <%= link_to "Try it out", new_user_registration_path, class: "btn btn-success" %><br />
			</p>
		</div>
	</center>
<% end %>

<% if user_signed_in? %>
		  <%= render 'user_dashboard' %>
<% end %>
