<div id="favorite_foods_list">
  <% @favorite_foods.each do |favorite_food| %>
    <div class="favorite-food-item">
      <%= link_to favorite_food.food_name, food_path(favorite_food.food) %>
      <%= link_to_add "Log Item", new_food_log_food_path(food_id: favorite_food.food) %>
      <%= button_to "Remove", favorite_food_path(favorite_food), method: :delete %>
    </div>
  <% end %>
</div>
