<h1>Preferences</h1>
<div>
	<strong>Default Unit System:</strong> <%= "#{preferences.unit_system}" %>
</div>
<div>
	<strong>Weight:</strong> <%= "#{preferences.weight_unit.unit_name.humanize} (#{preferences.weight_unit.unit_abbr})" %>
</div>
<br/>
