<%= form_for :user_preferences, url: user_preferences_path, method: "put" do |f| %>
	<div class="form-group">
	<%= label_tag :default_system_id, "Default Unit System" %>
	<%= select_tag :default_system_id, options_for_select([['US System', 0], ['Metric System', 1]], @preferences.default_system_id), class: "form-control" %>
</div>
 	 <%= button_tag class: "btn btn-success btn-large", style: "margin-top: 10px", type: 'submit' do %>
		<span class="glyphicon glyphicon-check icon-white"></span> Save
	<% end %>
<% end %>
