@import 'helpers/colors';
@import 'helpers/mixins';


body {
}

a {
  text-decoration: none;
  color: $link;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-out;

  &:visited {
    color: $link-visited;
  }
  &:hover {
    color: $link-hover;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-timing-function: linear, ease-out;
  }
}

#masthead {
  margin:0px auto;
  background-color: $color-two;
}

#header-logo {
  padding:8px;
  display: inline-block;
  
  > h1 {
    font-size: 24px;
    padding: 0px;
    margin: 0px;
    font-style: italic;
  }
}

.container {
  width: 1160px;
}

.debug {
  border:2px solid red;
  padding: 5px;
  margin:5px 0px;
  text-align:left;
  background-color:#f2dede;
  
  h1, h2, h3, h4, h5, h6 {
    color: red;
  }
  
  .debug-child-objects {
    margin:5px 5px 5px 15px;
    padding:5px;
    border:2px dotted red;
  }
}

#main-content-container {
  margin:5px auto;
  border:1px solid $border;
}

#main-content {
  padding: 15px;
  @include drop-shadow;
  
  h1, h2, h3, h4, h5 {
    margin: 2px;
  }
}

#main-nav > nav {
  background-color: $color-three;
  border-bottom:2px solid darken($color-three, 5%);

  > ul {
    list-style: none;
    padding:0px;
    margin:0px;
 
    > li {
      display: inline-block;
      padding: 10px;
    }
  }

  a, a:visited {
    font-weight:bold;
    color: $grey;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;

    &:hover {
      color: $secondary; //lighten($grey, 40%);
      -webkit-transition-property:color;
      -webkit-transition-duration:0.1s;
      -webkit-transition-timing-function: linear, ease-out;
    }
  }
}


#main-info {
  margin:0 auto;
  border-bottom: 1px dotted lighten($color-two, 15%);
}

#user-login {
  background-color: $secondary;
  border:2px solid $color-three;
  padding:8px;
  text-align:right;
}


footer {
  margin:5px auto;
  margin-top:15px;
  border-top:1px solid $border;
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

#main-footer-content {
  padding:5px;
}

.left {
  float: left;
}

.right {
  float: right;
}

form.button_to {
  display:inline-block;
}
/*
input[type='submit']{
  min-width:100px;
  //padding:7px;
  margin:3px 0px 3px 0px;
}
  */

