@import 'helpers/colors';

.circle-short-listing {
  border:1px solid $border;
  padding:10px;
  margin: 5px 0px 5px 0px;

  h3 {
   font-size: 16px;
  }

  h4 {
   color: $dark-grey;
  }
  
  h3, h4 {
    padding:0px;
    margin:0px;
  }

  p.description {
   margin: 5px;
  }
}
a.circle-members-awaiting-approval {
  color: red;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
    color: lighten(red, 15%);
  }
}
