$grey: #ccc;
$secondary: #ffaa00;
$color-one: #ffaa00; 
$color-two: #3498db;
$color-three: #2980b9;
$link-color: #444444;

// Errors
$error-text: #b94a48;
$error-explanation-border: #eed3d7;
$error-explanation-background: #f2dede;
$error-explanation-text: #b94a48;
