@import 'helpers/colors';

.food_label {
  width: 500px;
  margin: 10px;
  clear: none;
  border: 1px solid #666;
  padding: 10px;
   input[type='text'] {
		border: 1px solid #666;
		margin:2px;
		padding: 4px;
	}

	.left_indent {
		padding-left: 35px;
	}
}
#add_food_to_favorites_form {
	display: inline-block;
}

#food_image_container {
	border: 1px solid $border;
	padding: 3px;
	float:left;
}
#food_control_panel {
	float: left;
	clear:left;
	padding: 10px 0px 10px 0px;
}
#food_search_results {
	width: 640px;
}
