@import "helpers/colors";

.logged-food-entry {
  /*margin: 0 auto;*/
  margin-top: 10px;
  width: 400px;

  .entry-top {
    border-bottom: 1px solid $border;

    .food-name {
      font-size: 20px;
    }
    .control-panel {
      float: right;
    }
  }
}

#log_date_day, #log_food_log_date_3i {
  width: 55px;
}

#log_date_month, #log_food_log_date_2i {
  width: 115px;
}

#log_date_year, #log_food_log_date_1i {
  width: 70px;
}

#log_food_servings {
  width:45px;
  text-align:center;
}
