@import "helpers/colors";

.logged-food-entry {
  /*margin: 0 auto;*/
  margin-top: 10px;
  width: 400px;

  .entry-top {
    border-bottom: 1px solid $border;

    .food-name {
      font-size: 20px;
    }
    .control-panel {
      float: right;
    }
  }
}

#log_date_day, #log_food_log_date_3i {
  width: 55px;
}

#log_date_month, #log_food_log_date_2i {
  width: 115px;
}

#log_date_year, #log_food_log_date_1i {
  width: 70px;
}

#log_food_servings {
  width:45px;
  text-align:center;
}


#totals_pie_chart_svg {
  height:200px;
}

#totals_pie_chart {
  border: 1px solid $border;
  margin-top:5px;
  padding: 10px;
  width: 300px;
  text-align:center;

  .block {
    width: 15px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  .protein-color {
    background-color: #FFAA00;
  }

  .carbs-color {
    background-color: #FFAA00;
  }

  .fat-color {
    background-color: #FFEE00;
  }
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}
