@import "helpers/colors";

.logged-food-entry {
  /*margin: 0 auto;*/
  margin-top: 10px;
  width: 400px;

  .entry-top {
    border-bottom: 1px solid $border;

    .food-name {
      font-size: 20px;
    }
    .control-panel {
      float: right;
    }
  }
}
