@import 'helpers/colors';

#nutrition_breakdown_totals {
  float: left;
  width: 530px;
  margin: 5px;
  padding: 10px;
  border: 1px solid $border;
  min-height: 200px;
}

.nutrition_right_col {
  width: auto;
  display: inline-block;
  margin:5px;

  div {
    margin-bottom: 10px;
  }
}

#nutrition_search_box {
  border: 1px solid $border;
  padding: 10px;
  background-color: lighten($color-one, 36%);

  form {
    margin: 0px;
  }
}

#selected_date {
  border:1px solid $border; 
  padding:10px;

  form {
    margin:0px;
  }

  .main-date {
    width: 100%;
    text-align:center;
    font-size:25px;
  }

  .time-ago {
    width:100%;
    text-align:center;
    font-style:none;
    color: $dark-grey;
  }

  .go-back-to-today {
    padding: 4px;
    text-align:right;
    position:relative;
    bottom: -6px;
  }
}

#logged_foods {
  float: left;
}
