// Place all the styles related to the Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

.workouts_workout_exercise {
  border: 1px solid orange;
  padding: 5px;
}
table {
  margin-top:10px;
  td {
  border: 1px solid #ccc;
  padding: 4px;
  min-width:85px;
  }
  th:not(:empty) {
    background-color:#ddd;
  }
  tr > td { 
    text-align:center;
  }
}
