<div id="one_rep_max">
	<h3>
		<small>Logged Max Weight:</small>
		<div><%= logged_orm_workout_set.blank? ? "No Data" : logged_orm_workout_set.weight %> lbs</div>
	</h3>
	<h3>
		<small>Calculated ORM:</small>
		<button id="orm_popover_btn" type="button" class="btn btn-primary btn-xs" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Your calculated one rep maximum uses the Epley formula and is based off of your highest recorded weight with the reps performed in that set."><span class="glyphicon glyphicon-question-sign icon-white"></span></button>
		<div><%= calculated_orm.blank? ? "No Data" : calculated_orm.to_i %> lbs</div>
	</h3>
</div>
<script>
$(document).ready(function(){
	$("#orm_popover_btn").on('click', function(){
		$(this).popover('show');
	});
});
</script>
