<div id="one_rep_max">
	No 1RM
</div>
<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
Submitted by: <%= @exercise.user.username %>
</p>
<%= link_to_edit 'Edit', edit_exercise_path(@exercise) %> 
<%= link_to_destroy "Delete", @exercise, data: { confirm: "Are you sure?"}, method: "delete" %>
