<div class="row">
	<div class="col-md-9">
		<p>
		<strong>Name:</strong>
		<%= @exercise.name %>
		</p>

	</div>
	<div class="col-md-3">
		<% if current_user %>
			<%= render 'one_rep_max', logged_orm_workout_set: @logged_orm_workout_set, calculated_orm: @calculated_orm %>
		<% end %>
	</div>
</div>
