<div id="flash_messages">
<% unless notice.blank? %>
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="text-warning"><%= notice %></span>
  </div>
<% end %>

<% unless flash[:error].blank? %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="text-danger"><%= flash[:error] %></span>
  </div>
<% end %>

<% unless flash[:success].blank? %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="text-success"><%= flash[:success] %></span>
  </div>
<% end %>

<% unless flash[:info].blank? %>
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="text-info"><%= flash[:info] %></span>
  </div>
<% end %>
</div>

<script id="template_alert_success" type="x-templ-mustache">
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="text-success">{{message}}</span>
  </div>
</script>

<script id="template_alert_error" type="x-templ-mustache">
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="text-danger">{{message}}</span>
  </div>
</script>
